[package]
name = "c-ares"
license = "MIT"
version = "0.5.0"
authors = ["David Hotham"]
description = "A Rust wrapper for the c-ares library"
homepage = "https://github.com/dimbleby/rust-c-ares"
repository = "https://github.com/dimbleby/rust-c-ares"
documentation = "http://dimbleby.github.io/rust-c-ares"
readme = "README.md"
keywords = ["DNS", "c-ares"]

[dependencies]
libc = "*"
bitflags = "*"

[dependencies.c-ares-sys]
path = "c-ares-sys"

[dev-dependencies]
mio = "*"
