[package]
name = "c-ares-sys"
license = "MIT"
version = "4.2.0"
authors = ["David Hotham"]
build = "build.rs"
links = "cares"
description = "Low-level bindings to the c-ares library"
repository = "https://github.com/dimbleby/rust-c-ares"
readme = "README.md"
keywords = ["DNS", "c-ares"]
categories = ["external-ffi-bindings", "network-programming"]

[build-dependencies]
cc = "1"
fs_extra = "1.1"
metadeps = "1.1.1"

[dependencies]
libc = "0.2"
c-types = "2.0.2"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3", features = ["winsock2"] }

[target.'cfg(target_os = "android")'.dependencies]
jni-sys = "0.3"

[package.metadata.pkg-config]
libcares = "1.15.0"
